{% extends 'layout/layout' %}

{% block title %}
    {{ translate('Home') }} | {{ parent() }}
{% endblock %}


{% block content %}
    {{ parent() }}
    {% if flashMessenger().hasMessages() %}
        {% for message in flashMessenger().getMessages() %}
        <span class="alert alert-success" role="alert">
            {{ message }}
        </span>
        {% endfor %}
        <hr />

    {% endif %}
    <form action="{{ url('adminuseredit')}}{{ user.id }}" method="POST">

        <input type="hidden" name="id" value="{{ user.id }}" />
        <label for="name">Name : </label><br />
        <input type="text" name="name" value="{{ user.getUsername() }}" />
        <hr />
        <label for="display_name">Display name : </label><br />
        <input type="text" name="display_name" value="{{ user.getDisplayName() }}" />
        <hr />
        <label for="email">email : </label><br />
        <input type="text" name="email" value="{{ user.getEmail() }}" />
        <hr />

        <input type="submit" value="Valider" />
    </form>

{% endblock %}
