<h1>{% if product %}Modifier le produit {{ product.getTitle() }} ( {{ product.getId() }}){% else %}Ajouter un produit{% endif %}</h1>

{% if flashMessenger().hasMessages() %}
    {% for message in flashMessenger().getMessages() %}
    <span class="alert alert-success" role="alert">
        {{ message }}
    </span>
    {% endfor %}
{% endif %}


<form action="{{ url(admineditarticles)}}{{ product.getId() }}" method="POST" class="form-horizontal">
        <input type="hidden" name="id" value="{{ product.getId() }}" />

<table class="table">
    <tr>
        <th>id</th>
        <th>Code article</th>
        <th>Volume</th>
        <th>Prix</th>
        <th>Prix special (HH)</th>
    </tr>
{% for article in product.getArticles %}
    <tr>
        <td>{{ article.getId() }}</td>
        <td>{{ article.getCode() }}</td>
        <td>{{ article.getCharacteristicsvalues().first().getValue() }}</td>
        <td>{{ article.getPrices().first().getValue() }}</td>
        <td>{{ article.getPrices().first().getSpecialValue() }}</td>
    </tr>

{% endfor %}
</table>

    <div class="form-group">

        <label for="volume"  class="col-sm-2 control-label">Volume : </label>
        <input type="text" name="volume" value="" />
    </div>
    <div class="form-group">

        <label for="price"  class="col-sm-2 control-label">Prix : </label>
        <input type="text" name="price" value="" />
    </div>
    <div class="form-group">

        <label for="specialPrice"  class="col-sm-2 control-label">Prix HH : </label>
        <input type="text" name="specialPrice" value="" />
    </div>


<div class="form-group text-centered">


<input type="submit" value="Valider" class="btn btn-large btn-primary  center-block"  />
</div>

</form>
<p>
    <a href="{{ url('admincategorieslist') }}">Listing catégories</a> |
    <a href="{{ url('adminproductslist') }}">Listing produits</a> |
    <a href="{{ url('admineditproduct') }}" >Ajouter un produit</a>
</p>
