


<p>
    <a href="{{ url('adminproductslist') }}">Liste des produits</a> |
    <a href="{{ url('admincategorieslist') }}">Liste des catégories</a> |
    <a href="{{ url('fetchimage') }}">Ajouter une image</a> |
    <a href="{{ url('papermenupdf') }}">Menu PDF</a> |
    <a href="{{ url('qrcode') }}">QrCode</a>
</p>
