{% extends 'layout/layout' %}
{# {{ doctrineDump(products)| raw }} #}

{% block content %}
    {{ parent() }}
    <div class="row">
        {% for category in categories %}

        {% endfor %}
    </div>

    <div class="row">

{% for product in products %}


      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        {% if product.getMainMedia() %}
              <img src="{{ thumb().getSlug(product.getMainMedia().slug(),120) }}"
                          class="" />
        {% endif %}
          <div class="caption">
            <h3>{{ product.getTitle() }}</h3>
            <p>{{ product.getDescription() }}</p>
            <p>
            {% set price = price().getProductPrice(product,'Volume',1) %}
            {% set volume = price.article.getCharacteristicsvalues().first().getValue() %}
            {% if price %}
                <strong>{{ price.getValue() }}€</strong> ({{ volume }} cl)
            {% endif %}

            </p>

            {% if zfcUserIdentity() %}
            <p>

                <a href="#" class="btn btn-primary" role="button">Commander</a>
                {% if bookmark().isProductBookmarked(product) %}
                <a href="#" class="btn btn-default bookmark" role="button" data-product="{{product.id()}}">
                    <span class="glyphicon glyphicon-heart" data-product="{{product.id()}}" aria-hidden="true"></span>
                </a>
                {% else %}
                <a href="#" class="btn btn-default bookmark" role="button" data-product="{{product.id()}}">
                    <span class="glyphicon glyphicon-heart-empty" data-product="{{product.id()}}" aria-hidden="true"></span>
                </a>
                {% endif %}

            </p>
            {% endif %}

          </div>
        </div>
      </div>
{% endfor %}
    </div>
{% endblock %}
