

{% for product in products %}
<h3>{{ product.getTitle() }}</h3>
<p>{{ product.getDescription() }}</p>
<p>{{ product.getType().getName() }}</p>

{% if product.getMedias() %}
    <img src="{{ product.getMainMedia().slug() }}" />
{% endif %}
    {% if product.getIngredients() %}
        <ul>
            {% for ingredient in product.getIngredients() %}
            <li>{{ ingredient.getName() }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
