{% extends 'layout/layout' %}

{% block title %}
    {{ translate('Home') }} | {{ parent() }}
{% endblock %}


{% block content %}
    {{ parent() }}


<h1>Les heures heureuses de <strong>{{ info().shopName }}</strong></h1>
<hr />
<br />
<p><strong>{{ info().shopName }}</strong> vous accueille avec le sourire du mardi au samedi, de 17h30 à 1h00.</p>
<hr />
<p>Venez profiter des "heures heureuses" de 19h00 à 21h00.</p>
<br />
    <h3>{{ info().shopName }}</h3>
<p>

    <b>Adresse</b> : {{ info().shopAddress}}<br />
    <b>Téléphone</b> : <a href="tel:{{ info().shopPhone(true)}}">{{ info().shopPhone}}</a>
    <br />
    <a href="{{ info().shopMapUrl}}">Nous trouver</a>
</p>
<br />

{% endblock %}
